body{
    background-color: pink;
}
.smallbox{
    background-color: whitesmoke;
    text-align: center;
    padding: 40px 10px;
    margin:40px 0px;


}
i{
    color: rgb(29, 162, 214);

}
a{
    border-bottom: 2px solid skyblue;
}
.cont{
    margin:20px 0px;
}
.smallbox{
    background-color: whitesmoke;
    text-align: center;
    padding: 40px 10px;
    margin:30px 0px;


}